mixin cardMain(data)

    if data.fifthPart_flag===true
        .fifthPart__card_mobile
            h3 #{ data.h3_text}
            .firstPart__card__description
                span #{ data.description}
            .secondPart_info.fourthPart_info.fifthPart__info
                img(src=data.img_2, alt=data.img_name_2)
                h4 #{ data.h4_text}
                .firstPart__card__description.fifthPart__card__description
                span  #{ data.description_2}
                .fifthPart__avatar
                    img(src=data.img, alt=data.img_name)
                    .fifthPart__avatar__description
                        .fifthPart_avatar_names #{ data.avatar_name}
                        .fifthPart_avatar_position #{ data.avatar_position}

                .slider
                        - for (let i = 0; i < data.slider_num; i++)
                            div
        .fifthPart__card_desktop 
            .fifthPart__card_desktop__head 
                .fifthPart__card_desktop__head__header 
                    h2 #{ data.h3_text}
                .fifthPart__card_desktop__head__description.firstPart__card__description
                    span #{ data.description}
            .fifthPart__card_desktop__content 
                - for (let i = 0; i < 3; i++) 
                    .fifthPart__card_desktop__content__option 
                        .fifthPart__card_desktop__content__option__img 
                            img(src=data.img_2, alt=data.img_name_2)
                        .fifthPart__card_desktop__content__option__header 
                            h4 #{ data.h4_text_desktop[i]}
                        .fifthPart__card_desktop__content__option__description.firstPart__card__description.fifthPart__card__description
                            span  #{ data.description_2}
                        .fifthPart__card_desktop__content__option__avatar.fifthPart__avatar
                            img(src=data.img, alt=data.img_name) 
                            .fifthPart__card_desktop__content__option__avatar__description.fifthPart__avatar__description
                                .fifthPart__card_desktop__content__option__avatar__description__names.fifthPart_avatar_names #{ data.avatar_name}
                                .fifthPart__card_desktop__content__option__avatar__position.fifthPart_avatar_position #{ data.avatar_position}
            .slider
                    - for (let i = 0; i < data.slider_num; i++)
                        div
    else
        .secondPart__card.firstPart__card.secondPart__card_mobile
            img(src=data.img, alt=data.img_name)
            h3 #{ data.h3_text}
            .secondPart_info
                h4 #{ data.h4_text}
                .firstPart__card__description
                    span #{ data.description}
            .slider
                    - for (let i = 0; i < data.slider_num; i++)
                        div
        
        .secondPart__card_desktop
            .secondPart__card_desktop__header 
                h2 #{ data.h3_text}
            .secondPart__card_desktop__content
                .secondPart__card_desktop__content__options
                    -const reqData=data.h4_text_desktop
                    -const h4_text_desktop_num= reqData.length;
                    .secondPart__card_desktop__content__options__all.col_1
                        -for (let i = 0; i < Math.ceil(h4_text_desktop_num/2); i++)
                            -const currentH4Text = reqData[i];
                            -const currentDescription = data.h4_text_desktop_description ? data.h4_text_desktop_description[i] : '';
                            div.secondPart__card_desktop__content__options__all__option.secondPart_info 
                                h4 #{currentH4Text}
                                .firstPart__card__description
                                    span #{currentDescription}
                    .secondPart__card_desktop__content__options__all.col_2
                        -for (let i = Math.ceil(h4_text_desktop_num/2); i < h4_text_desktop_num; i++)
                            -const currentH4Text = reqData[i];
                            -const currentDescription = data.h4_text_desktop_description ? data.h4_text_desktop_description[i] : '';
                            div.secondPart__card_desktop__content__options__all__option.secondPart_info 
                                h4 #{currentH4Text}
                                .firstPart__card__description
                                    span #{currentDescription}
                .secondPart__card_desktop__content__img.changed_img 
                    img(src=data.img, alt=data.img_name)

    
