mixin cardMain(data)

    if data.fifthPart_flag===true
        h3 #{ data.h3_text}
        .firstPart__card__description
            span #{ data.description}
        .secondPart_info.fourthPart_info.fifthPart__info
            img(src=data.img_2, alt=data.img_name_2)
            h4 #{ data.h4_text}
            .firstPart__card__description.fifthPart__card__description
            span  #{ data.description_2}
            .fifthPart__avatar
                img(src=data.img, alt=data.img_name)
                .fifthPart__avatar__description
                    .fifthPart_avatar_names #{ data.avatar_name}
                    .fifthPart_avatar_position #{ data.avatar_position}

    else
        -console.log("there 1")
        .secondPart__card.firstPart__card
            img(src=data.img, alt=data.img_name)
            h3 #{ data.h3_text}
            .secondPart_info
                h4 #{ data.h4_text}
                .firstPart__card__description
                    span #{ data.description}
        
        .secondPart__card_desktop
            .secondPart__card_desktop__header 
                h3 #{ data.h3_text}
            .secondPart__card_desktop__options
                -const reqData=data.h4_text_desktop
                -const h4_text_desktop_num=reqData.length;
                -console.log(h4_text_desktop_num)
                    -for (let i = 0; i < h4_text_desktop_num; i++)
                        -const currentH4Text = reqData[i];
                        -const currentDescription = data.h4_text_desktop_description ? data.h4_text_desktop_description[i] : '';

                        div.secondPart__card_desktop__option.secondPart_info 
                            h4 #{currentH4Text}
                            .firstPart__card__description
                                span #{currentDescription}


    .slider
            - for (let i = 0; i < data.slider_num; i++)
                div


