mixin srchBtn(val, flag__skip__apply__jobs, role)
    .thirdPart__btn
        if val==="Sign Up" 
            button(class="btnProp", id="signUpBtn") #{val}
        else if val==="Apply Filters"
            button(class="btnProp", onclick="changePage('filters')") #{val}
        else if val==="Apply Now"
            button(class="btnProp", onclick="changePage('applyJobs')") #{val}
        else if val==="View"
            button(class="btnProp", onclick="changePage('viewApplicationDetails')") #{val}
        else if val==="Continue"
            if flag__skip__apply__jobs 
                button(class="btnProp", onclick="changePage('thirdStepApplyJobs')") #{val}
            else 
                button(class="btnProp", onclick="changePage('secondStepApplyJobs')") #{val}
        else if val==="Save & Review"
            button(class="btnProp", onclick="changePage('fourthStepApplyJobs')") #{val}
        else if val==="Send application"
            button(class="btnProp", onclick="changePage('applyJobSuccess')") #{val}
        else if val==="Pay Now"
            button(class="btnProp", onclick="changePage('completeProfHH')") #{val}
        else
            button(class="btnProp") #{val}
    